.title
  margin: 0
  margin-bottom: 60px
  font-family: "Montserrat-ExtraBold", sans-serif
  font-weight: 700
  font-size: 40px
  line-height: 50px
  text-transform: uppercase

.text
  margin: 0

.button
  padding: 8px 83px
  font-family: "Montserrat-ExtraBold", sans-serif
  font-weight: 700
  font-size: 20px
  line-height: 24px
  color: $white
  background-color: $dingley
  border: 2px solid $dingley
  border-radius: 40px
  transition: background-color .4s
  &:hover
    background-color: transparent
    color: $dingley

.inner-icon
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  background-color: $dingley
  border-radius: 100px
  transition: transform .4s
  &:hover
    transform: scale(0.90)

.inner-icon
  margin-right: 20px
  &:last-child
    margin-right: 0

.social-icon
  width: 24px
  height: 24px
  fill: $white

.input
  all: unset
  margin-bottom: 20px
  padding: 20px 15px
  border: 1px solid $silver
  border-radius: 10px
  width: 100%
  box-sizing: border-box
  cursor: text
  @media ( max-width: 768px )
    padding: 15px
    font-size: 14px
    line-height: 18px
