.action
  padding: 50px 0
  @media screen and ( max-width: 425px )
    padding: 25px 0

  &__slide
    height: 100%
    background-size: cover
    background-position: right
    background-repeat: no-repeat
    border-radius: 20px

  &__inner
    padding-top: 60px
    padding-left: 60px
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 640px
    @media screen and ( max-width: 1185px )
      padding-top: 45px
      padding-left: 20px

  &__subtitle
    margin-bottom: 35px
    font-family: "Montserrat-Medium", sans-serif
    font-weight: 500
    font-size: 30px
    line-height: 34px
    color: $white
    z-index: 1
    position: relative
    @media screen and ( max-width: 1185px )
      font-size: 20px
      line-height: 24px

  &__inner-img
    width: 380px
    height: 65px
    background-image: url(../img/action/action-decoration-line.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    z-index: -1
    top: -50%
    left: -60px
    @media screen and ( max-width: 1185px )
      width: 240px
      height: 54px
      background-image: url(../img/action/action-decoration-line-already.png)
      top: -60%
      left: -20px

  &__title
    margin-bottom: 25px
    font-size: 50px
    line-height: 54px
    @media screen and ( max-width: 1185px )
      max-width: 445px
      font-size: 38px
      line-height: 42px

  &__inner-price
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 270px
    width: 100%
    margin-bottom: 40px
    @media screen and ( max-width: 1185px )
      margin-bottom: 25px
      max-width: 235px

  &__descr
    font-family: "Montserrat-Medium", sans-serif
    font-weight: 500
    font-size: 26px
    line-height: 34px
    color: $silver-chalice
    position: relative
    &::after
      position: absolute
      content: ""
      width: 100%
      border-top: 2px solid $silver-chalice
      top: 50%
      left: 0
    @media screen and ( max-width: 1185px )
      font-size: 22px
      line-height: 26px

  &__price
    font-family: "Montserrat-ExtraBold", sans-serif
    font-weight: 700
    font-size: 35px
    line-height: 34px
    @media screen and ( max-width: 1185px )
      font-size: 30px
      line-height: 34px

  &__link
    padding: 8px 25px
    @media screen and ( max-width: 1185px )
      padding: 8px 60px
      font-size: 14px
      line-height: 18px

.swiper2
  height: 450px
  @media screen and ( max-width: 1185px )
    height: 390px

.swiper-pagination-two
  bottom: 0 !important
  text-align: center
  @media screen and ( max-width: 1185px )
    margin-bottom: 20px
    text-align: left

.swiper-pagination-two .swiper-pagination-bullet
  margin-right: 20px !important
  border: 2px solid $dingley
  &:last-child
    margin-right: 0 !important
  @media screen and ( max-width: 1185px )
    margin-right: 0 !important
    margin-left: 20px !important
  &-active
    background-color: $dingley
