.hero
  padding-top: 40px
  padding-bottom: 50px
  @media ( max-width: 425px )
    padding-bottom: 25px

  &__wrap
    display: flex
    flex-direction: column
    align-items: center

  &__slide
    display: flex
    align-items: flex-end
    height: 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &__inner
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    padding-left: 50px
    padding-bottom: 50px
    border-radius: 20px
    @media ( max-width: 768px )
      padding-left: 20px
      padding-bottom: 70px

  &__price
    margin-bottom: 30px
    padding: 10px 20px
    font-size: 30px
    line-height: 34px
    color: $white
    background-color: $anzac
    border-radius: 40px
    @media ( max-width: 1120px )
      font-size: 24px
      line-height: 24px
    @media ( max-width: 768px )
      margin-bottom: 10px
      padding: 5px 10px
      font-size: 12px
      line-height: 16px

  &__title
    margin-bottom: 30px
    max-width: 830px
    font-family: "Montserrat-Black", sans-serif
    font-weight: 800
    font-size: 80px
    line-height: 84px
    color: $white
    &--already
      max-width: 500px
    @media ( max-width: 1120px )
      max-width: 790px
      font-size: 48px
      line-height: 52px
      &--already
        max-width: 300px
    @media ( max-width: 768px )
      margin-bottom: 20px
      max-width: 460px
      font-size: 28px
      line-height: 32px
      &--already
        max-width: 170px
    @media ( max-width: 375px )
      font-size: 25px
      line-height: 29px

  &__link
    padding: 20px 30px
    font-family: "Montserrat-ExtraBold", sans-serif
    font-weight: 700
    font-size: 20px
    line-height: 24px
    background-color: $merino
    border-radius: 50px
    @media ( max-width: 1120px )
      font-size: 16px
      line-height: 20px
    @media ( max-width: 768px )
      padding: 10px 20px
      font-size: 14px
      line-height: 18px

  &__terms
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    @media ( max-width: 1175px )
      flex-wrap: wrap
      max-width: 890px

  &__card
    display: flex
    align-items: center
    max-width: 300px
    width: 100%
    &--already
      max-width: 220px
    @media ( max-width: 1175px )
      &--already
        max-width: 300px
    @media ( max-width: 630px )
      max-width: 100%

  &__icon
    margin-right: 10px
    width: 80px
    height: 80px

  &__excerpt
    max-width: 200px
    &--already
      max-width: 130px
    @media ( max-width: 1175px )
      &--already
        max-width: 200px
    @media ( max-width: 630px )
      max-width: 100%

.swiper
  margin-bottom: 70px
  width: 100%
  height: 632px
  @media ( max-width: 768px )
    height: 380px
  @media ( max-width: 630px )
    margin-bottom: 30px

.swiper-pagination
  text-align: right
  margin-bottom: 30px
  bottom: 0 !important
  @media ( max-width: 768px )
    margin-bottom: 20px
    text-align: center

.swiper-pagination-bullet
  margin: 0 !important
  margin-right: 20px !important
  width: 20px
  height: 20px
  border: 2px solid $white
  background-color: transparent
  opacity: 1
  &:last-child
    margin-right: 30px !important
  @media ( max-width: 768px )
    width: 10px
    height: 10px

  &-active
    background-color: $white
