.spollers
	width: 100%

	&__item
		position: relative
		&::after
			position: absolute
			content: ""
			width: 100%
			border-top: 2px solid $athens-gray
			bottom: 0
			left: 0
		&::before
			position: absolute
			content: ""
			width: 50px
			height: 50px
			background-color: $mercury
			top: 20px
			right: 20px
			border-radius: 50px
		&:last-child
			margin-bottom: 0
			&::after
				width: 0
		@media ( max-width: 960px )
			&::before
				width: 40px
				height: 40px
		@media ( max-width: 625px )
			&::before
				top: 5px
		@media ( max-width: 517px )
			&::before
				top: 15px
		&:nth-child(4)
			@media ( max-width: 324px )
				&::before
					top: 25px

	&__title
		font-size: 18px
		position: relative
		width: 100%
		font-family: "Montserrat-SemiBold", sans-serif
		font-weight: 600
		font-size: 30px
		line-height: 37px
		text-align: left
		color: $mine-shaft
		@media ( max-width: 960px )
			font-size: 24px
			line-height: 31px
		@media ( max-width: 768px )
			font-size: 20px
			line-height: 26px
		@media ( max-width: 625px )
			font-size: 16px
			line-height: 20px

	&__title-text
		display: inline-block
		@media ( max-width: 517px )
			max-width: 230px

	&__text
		padding-bottom: 25px
		line-height: 130%
		color: $mine-shaft
		@media ( max-width: 625px )
			padding-bottom: 15px
			font-size: 14px
			line-height: 18px

	&.init .spollers__title
		padding: 25px 70px 25px 0
		@media ( max-width: 625px )
			padding: 15px 70px 15px 0

	&.init .spollers__title::before,
	&.init .spollers__title::after
		content: ''
		position: absolute
		right: 32px
		top: 50%
		width: 15px
		height: 2px
		background-color: $mine-shaft
		transition: transform 0.3s ease 0s
		@media ( max-width: 960px )
			right: 28px

	&.init .spollers__title::before
		transform: rotate(-45deg)

	&.init .spollers__title::after
		right: 42px
		transform: rotate(45deg)
		@media ( max-width: 960px )
			right: 37px

	&.init .spollers__title.active::before
		transform: rotate(45deg)

	&.init .spollers__title.active::after
		transform: rotate(-45deg)
